################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CqFightCalculator
/CqFightCalculator_x64_Debug.pdb
/CqFightCalculator_x64_Debug.ilk
/CqFightCalculator_x64_Debug.exe
/CqFightCalculator_x64.pdb
/CqFightCalculator_x64.ipdb
/CqFightCalculator_x64.iobj
/CqFightCalculator_Win32_Debug.pdb
/CqFightCalculator_Win32_Debug.ilk
/CqFightCalculator_Win32_Debug.exe
/CqFightCalculator_Win32.pdb
/CqFightCalculator_Win32.ipdb
/CqFightCalculator_Win32.iobj
